/* style.css */

* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  margin: 0;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

h3 {
  color: blue;
  padding: 20px;
  font-size: 24px;
  text-align: left;
}

img {
  max-height: 500px;
}

form {
  display: flex;
  text-align: left;
}

/* ////////////////////////// */
/* TASK CONTAINER -- Main one */
/* ////////////////////////// */

.task-container {
  background-color: rgb(255, 255, 255);
  /* border: black 3px solid; */
  padding: 10px;
  min-width: 400px;
}

/* ///////////////// */
/* NAV BAR CONTAINER */
/* ///////////////// */

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: darkred;
  color: whitesmoke;
  font-family: monospace;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
  min-width: 400px;
}

.spacer {
  font-size: 24px;
  color: whitesmoke;
  min-width: 50px;
  height: 1px;
}

.login-btn {
  color: darkred;
  background-color: whitesmoke;
  font:300;
  border-radius: 5px;
  height: 25px;
  padding: 10px
}

/* ////////////////////// */
/* TASK CREATOR CONTAINER */
/* ////////////////////// */

.task-creator {
  /* display: flex; */
  border: darkred 1px solid;
  border-left: darkred 10px solid;
  padding: 10px;
  max-width: 500px;
  min-width: 400px;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
  border-radius: 5px;
}

.form-items {
  display: flex;
  max-height: 30px;
  margin: 10px;
}

/* ////////////////////// */
/* TASK DISPLAY CONTAINER */
/* ////////////////////// */

.task-display {
  display: flex;
  /* background-color: yellow; */
  border: darkred solid 1px;
  border-left: darkred solid 10px;
  border-radius: 5px;
  padding: 10px;
  max-width: 1400px;
  min-width: 400px;
  justify-content: start;
  align-items: bottom;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* /////////////////// */
/* TASK CARD CONTAINER */
/* /////////////////// */

.task-card {
  /* background-color: whitesmoke; */
  border: darkred 2px solid;
  border-left: darkred 10px solid;
  padding: 10px;
  margin: 10px;
  min-width: 200px;
  border-radius: 5px;
}

.task-card p {
  padding: 5px;
  text-align: left;
}

.buttons {
  display: flex;
}

.cardBtn {
  background-color: blue;
  color: whitesmoke;
  margin: 5px;
  height: 20px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;;
  cursor: pointer;
}

.taskName {
  font-size: 18px;
}

.taskBody {
  font-size: 14px;
}


.new-col {
  margin: 10px;
}
