/* style.css */

body {
  text-align: center;
  margin: 20px;
}

h3 {
  color: blue;
  background: #f5f5f5;
  padding: 20px;
}

img {
  max-height: 500px;
}

.taskName {
  background-color: aliceblue;
}

.createdBy {
  background-color: aliceblue;
}

.assignedTo {
  background-color: aliceblue;
  border: solid 3px black;
}

.cardBtn {
  background-color: blue;
  color: whitesmoke;
}

.nav-bar {
  background-color: darkblue;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.login-btn {
  color: whitesmoke;
  background-color: green;
}

.task-container {
  background-color: blanchedalmond;
}

.task-display {
  background-color: yellow;
}

.task-card {
  background-color: grey;
}
